.promo-2 {
    margin-top: 4rem;
    
    > .container {
        @include lg {
            display: flex;
            justify-content: space-between;
        }
        .pamela-reif {
            position: relative;
            img {
                max-width: 100%;
                height: 100%;
                margin-bottom: 1rem;
            }

            .pamela-reif-content {
                position: absolute;
                top: 10%;
                right: 10%;

                @include lg {
                    top: 0%;
                    right: 5%;
                }

                @include xl {
                    top: 10%;
                    right: 10%;
                }

                @include xxl {
                    top: 20%;
                    right: 10%;
                }

                @include xxxl {
                    top: 10%;
                    right: 10%;
                }

                h1 {
                    font-size: 5vw;
                    color: white;
                    font-weight: bold;

                    @include sm {
                        font-size: 1.7rem;
                    }

                    @include md {
                        font-size: $font-size-35;
                    }

                    @include lg {
                        font-size: 2rem;
                    }

                    @include xxxl {
                        font-size: $font-size-45;
                    }

                    span {
                        display: block;
                    }
                }

                > .button-theme-dark {
                    font-size: 0.6rem;
                    padding: 10px 25px;
                    font-weight: $font-weight-semibold;

                    @include sm {
                        font-size: $font-size-13;
                    }

                    @include md {
                        padding: 15px 35px;
                        font-size: $font-size-16;
                    }

                    @include lg {
                        padding: 10px 25px;
                        font-size: $font-size-13;
                    }

                    @include xl {
                        
                    }

                    @include xxl {
                        font-size: $font-size-16;
                    }

                    @include xxxl {
                        padding: 15px 35px;
                    }

                    .button-theme-left,
                    .button-theme-right {
                        position: absolute;
                        height: 10px;
                        width: 10px;

                        @include md {
                            height: 20px;
                            width: 20px;
                        }

                        @include lg {
                            height: 15px;
                            width: 15px;
                        }

                        @include xxl {
                            height: 15px;
                            width: 15px;
                        }

                        @include xxxl {
                            height: 20px;
                            width: 20px;
                        }
                    }
                
                    .button-theme-left {
                        top: 5px;
                        left: 5px;
                        border-left: 2px solid white;
                        border-top: 2px solid white;

                        @include sm {
                            top: 5px;
                            left: 5px;
                        }

                        @include md {
                            top: 10px;
                            left: 10px;
                            border-left: 2px solid white;
                            border-top: 2px solid white;
                        }

                        @include lg {
                            top: 5px;
                            left: 5px;
                            border-left: 2px solid white;
                            border-top: 2px solid white;
                        }

                        @include xxl {
                            top: 5px;
                            left: 5px;
                            border-left: 2px solid white;
                            border-top: 2px solid white;
                        }

                        @include xxxl {
                            top: 7px;
                            left: 7px;
                            border-left: 2px solid white;
                            border-top: 2px solid white;
                        }
                    }
                
                    .button-theme-right {
                        bottom: 5px;
                        right: 5px;
                        border-right: 2px solid white;
                        border-bottom: 2px solid white;

                        @include sm {
                            bottom: 5px;
                            right: 5px;
                        }

                        @include md {
                            bottom: 10px;
                            right: 10px;
                        }

                        @include lg {
                            bottom: 5px;
                            right: 5px;
                        }

                        @include xxl {
                            bottom: 5px;
                            right: 5px;
                        }

                        @include xxxl {
                            bottom: 7px;
                            right: 7px;
                        }
                    }
                }
            }
            
        }

        .mountain-of-clothes {
            position: relative;
            img {
                max-width: 100%;
                height: 100%;
            }

            .mountain-of-clothes-content {
                position: absolute;
                top: 10%;
                left: 10%;

                @include lg {
                    top: 0%;
                    left: 5%;
                }

                @include xl {
                    top: 10%;
                    left: 10%;
                }

                @include xxl {
                    top: 20%;
                    left: 10%;
                }

                @include xxxl {
                    top: 10%;
                    left: 10%;
                }

                > h1 {
                    font-size: 5vw;
                    font-weight: bold;
                    span {
                        display: block;
                    }

                    @include sm {
                        font-size: 1.7rem;
                    }

                    @include md {
                        font-size: $font-size-35;
                    }

                    @include lg {
                        font-size: 2rem;
                    }

                    @include xxxl {
                        font-size: $font-size-45;
                    }
                }

                > .button-theme-light {
                    font-size: 0.6rem;
                    padding: 10px 25px;
                    font-weight: $font-weight-semibold;

                    @include sm {
                        font-size: $font-size-13;
                    }

                    @include md {
                        padding: 15px 35px;
                        font-size: $font-size-16;
                    }

                    @include lg {
                        padding: 10px 25px;
                        font-size: $font-size-13;
                    }

                    @include xl {
                        
                    }

                    @include xxl {
                        font-size: $font-size-16;
                    }

                    @include xxxl {
                        padding: 15px 35px;
                    }

                    .button-theme-left,
                    .button-theme-right {
                        position: absolute;
                        height: 10px;
                        width: 10px;

                        @include md {
                            height: 20px;
                            width: 20px;
                        }

                        @include lg {
                            height: 15px;
                            width: 15px;
                        }

                        @include xxl {
                            height: 15px;
                            width: 15px;
                        }

                        @include xxxl {
                            height: 20px;
                            width: 20px;
                        }
                    }
                
                    .button-theme-left {
                        top: 5px;
                        left: 5px;
                        border-left: 2px solid $color-dark-10;
                        border-top: 2px solid $color-dark-10;

                        @include sm {
                            top: 5px;
                            left: 5px;
                        }

                        @include md {
                            top: 10px;
                            left: 10px;
                        }

                        @include lg {
                            top: 5px;
                            left: 5px;
                        }

                        @include xxl {
                            top: 5px;
                            left: 5px;
                        }

                        @include xxxl {
                            top: 7px;
                            left: 7px;
                        }
                    }
                
                    .button-theme-right {
                        bottom: 5px;
                        right: 5px;
                        border-right: 2px solid $color-dark-10;
                        border-bottom: 2px solid $color-dark-10;

                        @include sm {
                            bottom: 5px;
                            right: 5px;
                        }

                        @include md {
                            bottom: 10px;
                            right: 10px;
                        }

                        @include lg {
                            bottom: 5px;
                            right: 5px;
                        }

                        @include xxl {
                            bottom: 5px;
                            right: 5px;
                        }

                        @include xxxl {
                            bottom: 7px;
                            right: 7px;
                        }
                    }
                }
            }
        }
    }
}