.promo {

    margin-top: 4rem;

    > .container {

        @include lg {
            display: flex;
        }
        
        .winter-promo {

            position: relative;

            img {
                width: 100%;
                height: 100%;
            }

            h1 {
                position: absolute;
                top: 25%;
                left: 5%;
                font-size: 1rem;
                font-weight: $font-weight-bold;

                @include sm {
                    font-size: 1.5rem;
                }

                @include md {
                    font-size: 2rem;
                }

                @include lg {
                    font-size: 1.5rem;
                    top: 15%;
                }
                
                @include xl {
                    top: 20%;
                    font-size: 1.9rem;
                }

                @include xxl {
                    font-size: 2.4rem;
                }

                @include xxxl {
                    font-size: $font-size-45;
                    top: 15%;
                }
            }

            span {
                display: block;
            }

            p {
                position: absolute;
                top: 45%;
                left: 5%;
                width: 17rem;
                font-size: 0.7rem;
                display: none;

                @include lg {
                    display: block;
                }

                @include xl {
                    top: 55%;
                    width: 23rem;
                    font-size: 0.8rem;
                }

                @include xxl {
                    font-size: $font-size-13;
                    width: 23rem;
                }

                @include xxxl {
                    font-size: $font-size-16;
                    width: 27rem;
                    top: 45%;
                }
            }

            > .button-theme-dark {
                position: absolute;
                left: 5%;
                top: 65%;
                font-size: $font-size-13;
                padding: 10px 20px;

                @include sm {
                    top: 75%;
                    font-size: $font-size-16;
                    padding: 0.7rem 1rem;
                }

                @include lg {
                    top: 75%;
                    padding: 10px 25px;
                }

                @include xl {
                    top: 80%;
                }

                @include xxl {
                    padding: 15px 35px;
                }

                @include xxxl {
                    top: 70%;
                    padding: 15px 45px;
                }

                .button-theme-left,
                .button-theme-right {
                    position: absolute;
                    height: 15px;
                    width: 15px;

                    @include xxl {
                        height: 20px;
                        width: 20px;
                    }
                }
            
                .button-theme-left {
                    top: 7px;
                    left: 7px;
                    border-left: 2px solid white;
                    border-top: 2px solid white;
                }
            
                .button-theme-right {
                    bottom: 7px;
                    right: 7px;
                    border-right: 2px solid white;
                    border-bottom: 2px solid white;
                }
            }
            
        }

        .new-arrivals-promo {

            position: relative;

            img {
                width: 100%;
                height: 183px;

                @include sm {
                    height: 272.22px;
                }

                @include md {
                    height: 368.69px;
                }

                @include lg {
                    height: 100%;
                }
                
            }

            h1 {
                position: absolute;
                left: 5%;
                top: 15%;
                font-size: 1.3rem;
                font-weight: $font-weight-bold;

                @include sm {
                    font-size: $font-size-35;
                }
                
                @include md {
                    font-size: 2.4rem;
                    top: 25%;
                }

                @include lg {
                    font-size: 1.7rem;
                    top: 35%;
                }

                @include xl {
                    font-size: $font-size-35;
                }
                
                @include xxl {
                    font-size: $font-size-35;
                }

                @include xxxl {
                    font-size: $font-size-45;
                    top: 30%;
                }
            }

            span {
                display: block;
            }

            > .button-theme-dark {
                position: absolute;
                left: 5%;
                top: 65%;
                font-size: $font-size-13;
                padding: 10px 20px;

                @include sm {
                    top: 75%;
                    font-size: $font-size-16;
                    padding: 0.7rem 1rem;
                }

                @include lg {
                    top: 75%;
                    padding: 10px 25px;
                }

                @include xl {
                    top: 80%;
                }

                @include xxl {
                    padding: 15px 35px;
                }

                @include xxxl {
                    top: 70%;
                    padding: 15px 45px;
                }

                .button-theme-left,
                .button-theme-right {
                    position: absolute;
                    height: 15px;
                    width: 15px;

                    @include xxl {
                        height: 20px;
                        width: 20px;
                    }
                }
            
                .button-theme-left {
                    top: 7px;
                    left: 7px;
                    border-left: 2px solid white;
                    border-top: 2px solid white;
                }
            
                .button-theme-right {
                    bottom: 7px;
                    right: 7px;
                    border-right: 2px solid white;
                    border-bottom: 2px solid white;
                }
            }
            
        }
    }
}