.showcase {
    padding-top: 1rem;
    background-color: $color-gray-10;

    @include sm {
        padding-top: 2rem;
    }

    > .container {
        align-items: center;
        text-align: center;

        @include sm {
            justify-content: space-between;
        }

        .img-left {
            
            > img {
                margin-left: -120px;
                max-width: 100%;
                display: none;
            }
        }

        .img-right {
            
            > img {
                margin-right: -220px;
                max-width: 100%;
                display: none;
            }
        }
        
        .showcase-text {
            text-align: center;
            
            h1{
                margin: 0;
                font-size: $font-size-35;
                font-weight: $font-weight-extra-bold;

                @include sm {
                    font-size: 2rem;
                }

                @include md {
                    font-size: $font-size-45;
                }

                @include lg {
                    font-size: $font-size-45;
                }

                @include xl {
                    font-size: $font-size-65;
                    line-height: 4rem;
                }

                span {
                    display: block;
                }
            }

            p {
                font-size: $font-size-13;
                width:  max-content;
                text-align: center;
                font-weight: $font-weight-regular;
                margin: 1rem 0;

                @include sm {
                    width: 10rem;
                }

                @include md {
                    font-size: $font-size-13;
                    width: 16rem;
                }

                @include lg {
                    font-size: $font-size-16;
                    width: 17rem;
                }

                @include xl {
                    width: max-content;
                    margin-top: 2rem;
                    margin-bottom: 3rem;
                }
            }

            > .button-theme {
                
                padding: 1rem 2rem;
                font-size: $font-size-13;

                @include md {
                    font-size: $font-size-16;
                }
            }
        }
    }
}
